<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>voter1:</h4>{{voter1}}
    <h4>voter2:</h4>{{voter2}}
    <h4>voter3:</h4>{{voter3}}
    </br>
    <button><a href='/get'>vote again</a></button>
</body>
</html>